*
{
    box-sizing: border-box;
}
.row img{
    align-items: flex-end;
}
.container
{
    width: 300px;
}
.images
{
    align-items: center;
    margin: auto;
}
.gallery
{
    text-align: center;
    margin: auto;
}



















