*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.menu-bar
{
  background-image:linear-gradient(to right, #6db9ef, #7ce08a); 
}
.header
{
  height: 100vh;
  width: 100%;
  background-image: url(image/tourism3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-attachment: fixed;
  background-position: center;
  text-align: center;

}
.header img
{
  width: 200px;
  float: left;
  height: 30vh;
  background-color: rgba(0,0,0,0,5);
  padding-top: 10px;
  
}
.login-btn
{
  width: 100px;
  padding-top: 50px;
  padding: 8px 0;
  height: 6vh;
  outline: none !important;
  border:  2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
}
.header h2{
  align-items: center;

}
/*features*/
.features
{
  padding: 100px 0;

}
.container wayanad
{
  text-align: center;
}



  





